@model Neoma.Models.ApplicationUsersViewModel.ApplicationUsersViewModel
@using Neoma.Extensions
@using Neoma.Utility
@{
    ViewData["Title"] = "Utilisateurs";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("body").on('keyup change', ".form-control", function () {
                var editBtn = $(this).parent().parent().find(".edit");
                editBtn.removeAttr("disabled");
            })

            $("body").on("click", "#Valide", function () {
                var editBtn = $(this).parent().parent().parent().find(".edit");
                editBtn.removeAttr("disabled");
                if ($(this).is(':checked')) {
                    $(this).val(true);
                }
                else {
                    $(this).val(false);
                }
            })

            $("body").on("click", "#EstAdmin, #EstSuperAdmin", function () {
                var editBtn = $(this).parent().parent().parent().find(".edit");
                editBtn.removeAttr("disabled");
                if ($(this).is(':checked')) {
                    $(this).val(true);
                }
                else {
                    $(this).val(false);
                }
            })

            $(function () {
                $(".edit").click(function () {
                    var $buttonClicked = $(this);
                    var utilisateur = {};
                    utilisateur.Id = $buttonClicked.attr('data-id');
                    utilisateur.Nom = $(this).parent().parent().parent().find("#Nom").val();
                    utilisateur.Prenom = $(this).parent().parent().parent().find("#Prenom").val();
                    utilisateur.Email = $(this).parent().parent().parent().find("#Email").val();
                    utilisateur.OrganismeId = $(this).parent().parent().parent().find("#OrganismeId").val();
                    utilisateur.Valide = $(this).parent().parent().parent().find("#Valide").val();
                    utilisateur.EstAdmin = $(this).parent().parent().parent().find("#EstAdmin").val();
                    utilisateur.EstSuperAdmin = $(this).parent().parent().parent().find("#EstSuperAdmin").val();
                    var items = JSON.stringify(utilisateur);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Edit", "Utilisateur", new { area = "Admin" })',
                        contentType: "application/json; charset=utf-8",
                        data: items,
                        datatype: "json",
                        success: function () {
                            $buttonClicked.attr("disabled", "disabled");
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });
        });

        function confirmDelete(id) {
            //console.log(id);
            $.confirm({
                title: 'Confirmation',
                content: 'Voulez-vous vraiment supprimer cet utilisateur ?',
                buttons: {
                    Valider: function () {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete", "Utilisateur", new { area = "Admin"})',
                            data: { id: id },
                            success: function (response) {
                                if (response === "OK") {
                                    window.location.href = '@Url.Action("Index", "Utilisateur", new { area = "Admin"})';
                                }
                                else
                                    alert(response);
                            }
                        });
                        return true;
                    },
                    Annuler: function () {
                        return true;
                    }
                }
            });
        }


        function noDelete(id) {
            //console.log(id);
            $.confirm({
                title: 'Avertissement suppression',
                content: "Attention cet utilisateur fait partie d'un projet.",
                type: 'red',
                buttons: {
                    OK: function () {
                        confirmDelete(id);
                    },
                    Fermer: function () {
                        return true;
                    }
                }
            });
        }
    </script>
}

<div class="row justify-content-md-center">
    <div class="col-md-12">

        <section class="neobox mt-5">
            <div class="neobox-title">
                <h2 class="w-100">@ViewData["Title"]</h2>
            </div>
            <div class="neobox-content">
                <table class="items-listing-small w-100">
                    <thead>
                        <tr>
                            <th class="item-primary mr-2">
                                <label>Nom</label>
                            </th>
                            <th class="item-secondary mr-2">
                                <label>Prénom</label>
                            </th>
                            <th class="item-primary mr-2">
                                <label>Email</label>
                            </th>
                            <th class="item-primary mr-2">
                                <label>Organisme</label>
                            </th>
                            @if (User.IsInRole(SD.SuperAdminEndUser))
                            {
                                <th class="item-secondary mr-2">
                                    <label>Admin</label>
                                </th>
                                <th class="item-secondary mr-2">
                                    <label>Super Admin</label>
                                </th>
                            }

                            <th class="item-secondary mr-2">
                                <label>Valide</label>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Utilisateurs)
                        {
                            <tr>
                                <td class="item-primary">
                                    <input id="Nom" value="@item.Nom" class="form-control" />
                                </td>
                                <td class="item-secondary">
                                    <input id="Prenom" value="@item.Prenom" class="form-control" />
                                </td>
                                <td class="item-primary">
                                    <input id="Email" value="@item.Email" class="form-control" />
                                </td>
                                <td class="item-primary">
                                    <select id="OrganismeId" asp-items="Model.Organismes.ToSelectListItem(@item.OrganismeId)" class="form-control"></select>
                                </td>
                                @if(User.IsInRole(SD.SuperAdminEndUser))
                                {
                                    <td class="item-secondary">
                                        <label class="checkbox">
                                            <input type="checkbox" id="EstAdmin" checked="@(item.EstAdmin ? true : false)" value="@(item.EstAdmin ? "true" : "false")" />
                                            <span class="custom-visual"></span>
                                        </label>
                                    </td>
                                    <td class="item-secondary">
                                        <label class="checkbox">
                                            <input type="checkbox" id="EstSuperAdmin" checked="@(item.EstSuperAdmin ? true : false)" value="@(item.EstSuperAdmin ? "true" : "false")" />
                                            <span class="custom-visual"></span>
                                        </label>
                                    </td>
                                }
                                
                                <td class="item-secondary">
                                    <label class="checkbox">
                                        <input type="checkbox" id="Valide" checked="@(item.Valide ? true : false)" value="@(item.Valide ? "true" : "false")" />
                                        <span class="custom-visual"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-square btn-success btn-sm ml-2 edit" disabled data-id="@item.Id">
                                            <i class="fa fa-save"></i>
                                        </button>
                                        @if (item.CanDelete)
                                        {
                                            <div class="btn btn-square btn-danger btn-sm ml-2" onclick="confirmDelete('@item.Id')">
                                                <i class="fa fa-times"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="btn btn-square btn-danger btn-sm ml-2" onclick="noDelete('@item.Id')">
                                                <i class="fa fa-times"></i>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </section>
    </div>
</div>